{% extends 'Base.html' %}
{% block titulo %} IniciarSesión{% endblock %}


	{% block contenido %}
			<br>
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 ">
				<div class="panel panel-info">
				<div class="panel-heading"><h2>Bienvenido</h2></div>
				<div class="panel-body ">
				<strong><h4 class="text-succes" align="justify" >Esta aplicación trata sobre la simulación de un volcán casero y está pensada especialmente para niños que deseen realizar un experimento químico. Mediante ensayos podrás ver la cantidad necesaria de vinagre y bicarbonato
				para poder realizar una erupción exitosa y luego lo podrás implementar en tu casa.
				</h4></strong>
				<div > <h3><a  class="text-succes" href="experimento">Iniciar Experimento </a></h3></div>


		</div></div></div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	{% endblock %}
</div>